html
 head
    title confirm
    block style
    style
       include ../static/style2.css

 body
    block content
    .container  
        p Your Questions are successfully Registered!
    .sign1 
        ul 
           
         li #[a(href='http://localhost:4000/home') Home]