html
 head
    title confirm
    block style
    style
       include ../static/style2.css

 body
    block content
    .container  
        p Your question is saved
    .sign1 
        ul 
           
         li #[a(href='http://localhost:4000/f1') Back]
         p To genearte 
        form(action="/base2", method="post" class="myform")

