
html
  head
   
    title Quizzzing
    block style 
    style
        include ../static/style4.css
       
  body
    block content
      div.container
        h1(class="header1") Quizzzin   
        h2(class="header2") Create here(MCQ)
        h2(class = "note")     Number of questions can be submmited
        h2(class="max")  max:5
        h2(class="min")  min:1
        form(action="/mcqform", method="post" class="myform")
          h4 Enter Qusetion 1 :
                textarea(class="label1" rows="4"  name="question" required)
          h4 Option 1:
                input(type="text" , class="myInput" required name="option1" placeholder="required")
          h4 Option 2:                
                input(type="text" , class="myInput" required name="option2" placeholder="required")
          h4 Option 3:                
                input(type="text" , class="myInput" name="option3" placeholder="optional")
          h4 Option 4:
                input(type="text" , class="myInput" name="option4" placeholder="optional")
          h4 Enter Correct answer
                input(type="text", class="input1" name="answer" required)      
          h4 Points :
                input(type="number", class="input2" required name="number")
          h4 Enter Qusetion 2 :
                textarea(class="label1" rows="4"  name="question" )
          h4 Option 1:
                input(type="text" , class="myInput" name="option" placeholder="required")
          h4 Option 2:                
                input(type="text" , class="myInput" name="option" placeholder="required")
          h4 Option 3:                
                input(type="text" , class="myInput" name="option" placeholder="optional")
          h4 Option 4:
                input(type="text" , class="myInput" name="option" placeholder="optional")
          h4 Enter Correct answer
                input(type="text", class="input1" name="answer")      
          h4 Points :
                input(type="number", class="input2" name="number")
          h4 Enter Qusetion 3 :
                textarea(class="label1" rows="4"  name="question")
          h4 Option 1:
                input(type="text" , class="myInput" name="option" placeholder="required")
          h4 Option 2:                
                input(type="text" , class="myInput" name="option" placeholder="required")
          h4 Option 3:                
                input(type="text" , class="myInput" name="option" placeholder="optional")
          h4 Option 4:
                input(type="text" , class="myInput" name="option" placeholder="optional")
          h4 Enter Correct answer
                input(type="text", class="input1" name="answer" )      
          h4 Points :
                input(type="number", class="input2" name="number")
          h4 Enter Qusetion 4 :
                textarea(class="label1" rows="4"  name="question")
          h4 Option 1:
                input(type="text" , class="myInput" name="option" placeholder="required")
          h4 Option 2:                
                input(type="text" , class="myInput" name="option" placeholder="required")
          h4 Option 3:                
                input(type="text" , class="myInput" name="option" placeholder="optional")
          h4 Option 4:
                input(type="text" , class="myInput" name="option" placeholder="optional")
          h4 Enter Correct answer
                input(type="text", class="input1" name="answer")      
          h4 Points :
                input(type="number", class="input2" name="number")
          h4 Enter Qusetion 5 :
                textarea(class="label1" rows="4"  name="question")
          h4 Option 1:
                input(type="text" , class="myInput" name="option" placeholder="required")
          h4 Option 2:                
                input(type="text" , class="myInput" name="option" placeholder="required")
          h4 Option 3:                
                input(type="text" , class="myInput" name="option" placeholder="optional")
          h4 Option 4:
                input(type="text" , class="myInput" name="option" placeholder="optional")
          h4 Enter Correct answer
                input(type="text", class="input1" name="answer")      
          h4 Points :
                input(type="number", class="input2" name="number")
          h4 Code :
                input(type="number", class="input2" required name="code")              
                button(class="btn")
                    | Submit